| {{define "CONTENT"}}
    header
        form#authForm
            .row
                div.col.col-sm-4.offset-sm-4
                    div.form-group
                        label(for="person_email") login
                        input.form-control#person_email(type="email" 
                                                        aria-describedby="emailHelp" 
                                                        placeholder="enter your email" 
                                                        name="person_email")
                        small#emailHelp.form-text.text-muted we'll never share your email with anyone else
                    div.form-group
                        label(for="person_password") password
                        input.form-control#person_password(type="password" 
                                                        aria-describedby="passwordHelp" 
                                                        placeholder="enter your password" 
                                                        name="person_password")
            .row
                .col.offset-sm-4.col-sm-2
                    button#gettoken.btn.btn-primary(type="button" onclick="getToken();") submit
                .col.col-sm-2
                    p.text-right
                        a#getcaptcha(href="#" onclick="getCaptcha();" title="reset password")
                            span.mdi.mdi-36px.mdi-lock-reset 
        
        form#captcha
            .row.invisible#captcha-row
                div.col.col-sm-12.d-flex.justify-content-center.mt-sm-4.mb-sm-2
                    img#captcha-img
                div.col.col-sm-12.d-flex.justify-content-center.mb-sm-4
                    input#captcha_uid(type="hidden" name="captcha_uid")
                    input#captcha_text(type="text" name="captcha_text")
                    a#resetpassword(href="#" onclick="resetPassword();" title="reset password, I am not a robot")
                        span.mdi.mdi-36px.mdi-lock-reset 


    a(href="https://github.com/tbellembois/gochimitheque")
        img(style="position: absolute; top: 0; right: 0; border: 0;" src="{{.ProxyPath}}img/forkme_right_darkblue_121621.png" alt="Fork me on GitHub")

    .row.mt-sm-5
        .col.col-sm-4.offset-sm-4.animated.bounceInLeft
            img.mx-auto.d-block(src="{{.ProxyPath}}img/logo_ens.png", alt="ens_logo" title="Ecole Normale Supérieure de Lyon")
    .row.mt-sm-5
        .col.col-sm-4.offset-sm-4.animated.bounceInRight
            img.mx-auto.d-block(src="{{.ProxyPath}}img/logo_uca.jpg", alt="uca_logo" title="Université Clermont Auvergne")
    .row.mt-sm-5
        .col.col-sm-4.offset-sm-4.animated.jackInTheBox.delay-1s
            img.mx-auto.d-block(src="{{.ProxyPath}}img/logo_gopher.png", alt="gopher_logo" title="Developped with fun in Golang")

| {{end}}
| {{define "CONTENTJS"}}
| {{end}}
