extends ../base.jade
block CONTENT
    :go:func
        Entityindex(c ViewContainer)
    #accordion
        #list-collapse.collapse.show(data-parent='#accordion')
            header.row
                .col-sm-12
                    table#table(data-toggle='table', 
                                data-striped='true', 
                                data-search='true', 
                                data-side-pagination='server', 
                                data-page-list="[10, 20, 50, 100]",
                                data-pagination='true', 
                                data-ajax='getData', 
                                data-sort-name='entity_name')
                        thead
                            tr
                                th(data-field='entity_id') ID
                                th(data-field='entity_name' data-sortable='true')
                                    = T("entity_name_table_header", 1)
                                th(data-field='entity_description')
                                    = T("entity_description_table_header", 1)
                                th(data-field='managers' data-formatter='managersFormatter')
                                    = T("entity_manager_table_header", 1)
                                th(data-field='operate', data-formatter='operateFormatter', data-events='operateEvents')

        #edit-collapse.collapse(data-parent='#accordion')

            +titleicon(iconaction="border-color" iconitem="store" label="update entity")

            form#entity
                input#index(type='hidden', name='index', value='')
                input#entity_id(type='hidden', name='entity_id', value='')

                .form-group.row
                    +inputtext("name", "entity_name")
                .form-group.row
                    +inputtext("description", "entity_description")
                .form-group.row
                    +selectmultiple("manager(s)", "managers")

            button#save.btn.btn-link(type='button', onclick='saveEntity()')
                span.mdi.mdi-content-save.mdi-24px.iconlabel
                    = T("save", 1)
            button.btn.btn-link(type='button', onclick='closeViewEdit();')
                span.mdi.mdi-close-box.mdi-24px.iconlabel
                    = T("close", 1)

block CONTENTJS
    script(src="../js/chim/entity.js")
