
include ../mixins
block CONTENT
    :go:func
        Storelocationindex(c ViewContainer)
    #accordion
        #list-collapse.collapse.show(data-parent='#accordion')
            header.row
                .col-sm-12
                    table#StoreLocation_table(data-toggle='table', 
                                data-striped='true', 
                                data-search='true', 
                                data-side-pagination='server', 
                                data-page-list="[10, 20, 50, 100]",
                                data-pagination='true', 
                                data-ajax='StoreLocation_getTableData', 
                                data-query-params='StoreLocation_dataQueryParams', 
                                data-sort-name='storelocation_fullpath')
                        thead
                            tr
                                //th(data-field='storelocation_id' data-sortable='true' data-formatter='storelocation_idFormatter') ID
                                th(data-field='storelocation_fullpath' data-sortable='true')
                                    = T("storelocation_name_table_header", 1)
                                th(data-field='entity.entity_name' data-sortable='true')
                                    = T("storelocation_entity_table_header", 1)
                                th(data-field='storelocation_color' data-sortable='false' data-formatter='StoreLocation_colorFormatter')
                                    = T("storelocation_color_table_header", 1)
                                th(data-field='storelocation_canstore' data-sortable='false' data-formatter='StoreLocation_canStoreFormatter')
                                    = T("storelocation_canstore_table_header", 1)
                                th(data-field='storelocation' data-sortable='true' data-formatter='StoreLocation_storeLocationFormatter')
                                    = T("storelocation_parent_table_header", 1)
                                th.th-storelocation-operate(data-field='operate' data-formatter='StoreLocation_operateFormatter' data-events='operateEvents')

        #edit-collapse.collapse(data-parent='#accordion')

            +titleicon(iconitem="docker" label="storelocation_update_title")

            .card.mx-auto.w-50
                .card-body
                    form#storelocation
                        input#index(type='hidden', name='index', value='')
                        input#storelocation_id(type='hidden', name='storelocation_id', value='')

                        .form-group.row
                            .form-group.col-sm-12
                                +inputtext(name="storelocation_name", label="storelocation_name_title")
                        .form-group.row
                            .form-group.col-sm-12
                                +inputselect(name="entity", label="storelocation_entity_title")
                        .form-group.row
                            .form-group.col-sm-12
                                +inputselect(name="storelocation", label="storelocation_parent_title") 
                        .form-group.row
                            .form-group.col-sm-12
                                +checkbox(name="storelocation_canstore", label="storelocation_canstore_title")
                        .form-group.row
                            .form-group.col-sm-12
                                +inputtext(name="storelocation_color", label="storelocation_color_title")
                            
                    button#save.btn.btn-primary.float-right(type='button', onclick='StoreLocation_saveStoreLocation()')
                        span.mdi.mdi-content-save.mdi-24px.iconlabel
                            = T("save", 1)
                    button.btn.btn-secondary.float-left(type='button', onclick='Utils_closeEdit();')
                        span.mdi.mdi-close-box.mdi-24px.iconlabel
                            = T("close", 1)
                    
block CONTENTJS
    script.
        window.operateEvents = {
            "click .delete": function (e, value, row, index) {
                StoreLocation_operateEventsDelete(e, value, row, index)
            },
            "click .edit": function (e, value, row, index) {
                StoreLocation_operateEventsEdit(e, value, row, index)
            }
        }