| {{define "CONTENT"}}
    #accordion
        #list-collapse.collapse.show(data-parent='#accordion')
            header.row
                .col-sm-12
                    table#table(data-toggle='table', 
                                data-striped='true', 
                                data-search='true', 
                                data-side-pagination='server', 
                                data-page-list="[10, 20, 50, 100]",
                                data-pagination='true', 
                                data-ajax='getData', 
                                data-query-params='queryParams',
                                data-sort-name='storelocation_fullpath')
                        thead
                            tr
                                th(data-field='storelocation_id' data-sortable='true' data-formatter='storelocation_idFormatter') ID
                                th(data-field='storelocation_fullpath' data-sortable='true') name
                                th(data-field='entity.entity_name' data-sortable='true') entity
                                th(data-field='storelocation_color' data-sortable='false' data-formatter='storelocation_colorFormatter') color
                                th(data-field='storelocation_canstore' data-sortable='false' data-formatter='storelocation_canstoreFormatter') can store
                                th(data-field='storelocation' data-sortable='true' data-formatter='storelocationFormatter') parent
                                th(data-field='operate' data-formatter='operateFormatter' data-events='operateEvents') actions

        #edit-collapse.collapse(data-parent='#accordion')

            +titleicon(iconaction="border-color" iconitem="docker" label="update store location")

            form#storelocation
                input#index(type='hidden', name='index', value='')
                input#storelocation_id(type='hidden', name='storelocation_id', value='')

                .form-group.row
                    .form-group.col-sm-12
                        | {{$label := "name"}} {{$name := "storelocation_name"}}
                        +inputtext
                .form-group.row
                    .form-group.col-sm-12
                        | {{$label := "entity"}} {{$name := "entity"}}
                        +select
                .form-group.row
                    .form-group.col-sm-12
                        | {{$label := "parent"}} {{$name := "storelocation"}}
                        +select 
                .form-group.row
                    .form-group.col-sm-12
                        | {{$label := "can store?"}} {{$name := "storelocation_canstore"}}
                        +checkbox
                .form-group.row
                    .form-group.col-sm-12
                        | {{$label := "color"}} {{$name := "storelocation_color"}}
                        +inputtext
                    
            button#save.btn.btn-link(type='button', onclick='saveStoreLocation()')
                span.mdi.mdi-content-save.mdi-24px.iconlabel
                    | {{ T "save" 1 }}
            button.btn.btn-link(type='button', onclick='closeEdit();')
                span.mdi.mdi-close-box.mdi-24px.iconlabel
                    | {{ T "close" 1 }}
| {{end}}
| {{define "CONTENTJS"}}

| <script src="../js/chim/storelocation.js"></script>

| {{end}}
