| {{define "CONTENT"}}

    #search.row.pt-sm-4.pb-sm-4.pl-sm-2.pr-sm-2.mt-sm-2.mb-sm-2.ml-sm-5.mr-sm-5.bg-light.border.rounded.collapse.show
        .col
            .row
                .col-sm-12
                    | {{$icon := "docker"}} {{$name := "s_storelocation"}}
                    +selecticon
            .row
                .col-sm-6
                    | {{$label := T "s_custom_name_part_of" 1 }} {{$name := "s_custom_name_part_of"}}
                    +inputtextcompact
                .col-sm-6
                .col-sm-6
                    | {{$label := T "s_name" 1 }} {{$name := "s_name"}}
                    +selectcompact
                .col-sm-6
                    | {{$label := T "s_casnumber" 1 }} {{$name := "s_casnumber"}}
                    +selectcompact
                .col-sm-6
                    | {{$label := T "s_empiricalformula" 1 }} {{$name := "s_empiricalformula"}}
                    +selectcompact
                .col-sm-6
                    | {{$label := T "s_storage_barecode" 1 }} {{$name := "s_storage_barecode"}}
                    +inputtextcompact
            .row.collapse#advancedsearch
                .col-sm-12
                    .form-row
                        .form-group.col-sm-6
                            | {{$label := T "s_signalword" 1 }} {{$name := "s_signalword"}}
                            +select
                        .form-group.col-sm-6
                            | {{$label := T "s_symbols" 1 }} {{$name := "s_symbols"}}
                            +selectmultiple
                    .form-row
                        .form-group.col-sm-6
                            | {{$label := T "s_hazardstatements" 1 }} {{$name := "s_hazardstatements"}}
                            +selectmultiple
                        .form-group.col-sm-6
                            | {{$label := T "s_precautionarystatements" 1 }} {{$name := "s_precautionarystatements"}}
                            +selectmultiple
            .row
                .col.col-sm-10
                    button#clearsearch.btn.btn-link.mr-sm-2(type="button" onclick="clearsearch();")
                        span.mdi.mdi-broom.mdi-24px.iconlabel
                            | {{ T "clearsearch_text" 1 }} 

                    button#search.btn.btn-lg.btn-link.mr-sm-2(type="button" onclick="search();")
                        span.mdi.mdi-magnify.mdi-24px.iconlabel
                            | {{ T "search_text" 1 }} 
                .col.col-sm-2
                    button.btn.btn-link(data-toggle="collapse" href="#advancedsearch" aria-expanded="false")
                        span.mdi.mdi-magnify-plus-outline.mdi-24px.iconlabel
                            | {{ T "advancedsearch_text" 1 }} 

    .row
        .col-sm-10
            #filter-item
        .col-sm-2.d-flex.justify-content-end
            #button-store

    #toolbar.row
        .col.toggleable
            button.btn.btn-link#switchview.d-none(type="button" onclick="switchProductStorageView()")
                span.mdi.mdi-cube-unfolded.mdi-24px.iconlabel
                    | {{ T "switchstorageview_text" 1 }} 
        .col
            button.btn.btn-link#export(type="button" onclick="exportAll()")
                span.mdi.mdi-content-save.mdi-24px.iconlabel
                    | {{ T "export_text" 1 }} 

    #exportlink.modal.fade(role="dialog" tabindex="-1" aria-labelledby="exportlinkLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-body#exportlink-body
                .modal-footer
                    button.btn.btn-link(type="button" data-dismiss="modal")
                        span.mdi.mdi-content-save.mdi-24px.iconlabel
                            | {{ T "close" 1 }}

    #accordion
        #list-collapse.collapse.show(data-parent='#accordion')
            header.row
                .col-sm-12
                    table#table(data-toggle='table', 
                                data-striped='true', 
                                data-search='false', 
                                data-toolbar="#toolbar",
                                data-side-pagination='server', 
                                data-page-list="[5, 10, 20, 50, 100, 200, 500]",
                                data-pagination='true', 
                                data-ajax='getData', 
                                data-query-params='queryParams',
                                data-sort-name='name.name_label',
                                data-detail-view="true",
                                data-detail-formatter="detailFormatter",
                                data-row-attributes="rowAttributes")
                        thead
                            tr
                                th(data-field='product_id' data-sortable='true') ID
                                th.th-width-200(data-field='name.name_label' data-sortable='true') name
                                th(data-field='empiricalformula.empiricalformula_label' data-sortable='true') empirical formula
                                th(data-field='casnumber.casnumber_label' data-sortable='true') CAS
                                th(data-field='product_specificity' data-sortable='false' data-formatter='product_specificityFormatter') specificity
                                th(data-field='product_sl' data-formatter='product_slFormatter' data-sortable='false') 
                                th(data-field='operate' data-formatter='operateFormatter' data-events='operateEvents') 

        #edit-collapse.collapse(data-parent='#accordion')
            form#product
                input#index(type='hidden', name='index', value='')
                input#product_id(type='hidden', name='product_id', value='')

                input#exactMatchEmpiricalFormula(type="hidden")
                input#exactMatchlinearFormula(type="hidden")
                input#exactMatchCasNumber(type="hidden")
                input#exactMatchCeNumber(type="hidden")
                input#exactMatchName(type="hidden")
                input#exactMatchSynonyms(type="hidden")
                input#exactMatchClassofcompounds(type="hidden")

                .form-row
                    .form-group.col-sm-auto
                        span.badge.badge-pill.badge-danger &nbsp;
                    .form-group.col-sm-5
                        | {{$label := "name"}} {{$name := "name"}}
                        +select
                    .form-group.col-sm-5
                        | {{$label := "synonym(s)"}} {{$name := "synonyms"}}
                        +selectmultiple

                .form-row
                    .form-group.col-sm-12
                        | {{$label := "specificity"}} {{$name := "product_specificity"}}
                        +inputtext

                .form-row
                    .form-group.col-sm-auto
                        span magic selector coming soon

                .form-row
                    .form-group.col-sm-auto
                        span.badge.badge-pill.badge-danger &nbsp;
                    .form-group.col-sm-5
                        | {{$label := "empirical formula"}} {{$name := "empiricalformula"}}
                        +select
                    .form-group.col-sm-5
                        | {{$label := "linear formula"}} {{$name := "linearformula"}}
                        +select
                    .form-group.col-sm-1
                        button#fconverter.btn.btn-link(type="button" data-toggle="popover" data-content="no result" title="convert linear to empirical formula" onclick="linearToEmpirical();")
                            i.material-icons loop

                .form-row
                    .form-group.col-sm-auto
                        span.badge.badge-pill.badge-danger &nbsp;
                    .form-group.col-sm-6
                        | {{$label := "cas number"}} {{$name := "casnumber"}}
                        +select
                    .form-group.col-sm-5
                        | {{$label := "ce number"}} {{$name := "cenumber"}}
                        +select

                .form-row
                    .form-group.col-sm-12
                        | {{$label := "MSDS link"}} {{$name := "product_msds"}}
                        +inputtext

                .form-row
                    .form-group.col-sm-12
                        | {{$label := "3D formula link"}} {{$name := "product_threedformula"}}
                        +inputtext

                .form-row
                    .form-group.col-sm-6
                        | {{$label := "physical state"}} {{$name := "physicalstate"}}
                        +select
                    .form-group.col-sm-6
                        | {{$label := "class of compound"}} {{$name := "classofcompound"}}
                        +select  
                        
                .form-row
                    .form-group.col-sm-6
                        | {{$label := "signal word"}} {{$name := "signalword"}}
                        +select
                    .form-group.col-sm-6
                        | {{$label := "symbol(s)"}} {{$name := "symbols"}}
                        +selectmultiple

                .form-row
                    .form-group.col-sm-6
                        | {{$label := "hazard statement(s)"}} {{$name := "hazardstatements"}}
                        +selectmultiple
                    .form-group.col-sm-6
                        | {{$label := "precautionary statement(s)"}} {{$name := "precautionarystatements"}}
                        +selectmultiple

                .form-row
                    .form-group.col-sm-12
                        | {{$label := "restricted access"}} {{$name := "product_restricted"}}
                        +checkbox
                .form-row
                    .form-group.col-sm-12
                        | {{$label := "radioactive"}} {{$name := "product_radioactive"}}
                        +checkbox

                .form-row
                    .form-group.col-sm-12
                        | {{$label := "disposal comment"}} {{$name := "product_disposalcomment"}}
                        +inputtextarea
                .form-row
                    .form-group.col-sm-12
                        | {{$label := "remark"}} {{$name := "product_remark"}}
                        +inputtextarea

                button#save.btn.btn-link(type='button', onclick='saveProduct()')
                    span.mdi.mdi-content-save.mdi-24px.iconlabel
                        | {{ T "save" 1 }}
                button.btn.btn-link(type='button', onclick='closeEdit();')
                    span.mdi.mdi-content-save.mdi-24px.iconlabel
                        | {{ T "close" 1 }}
| {{end}}
| {{define "CONTENTJS"}}

| <script src="../js/product_storage.js"></script>
| <script src="../js/product.js"></script>

| {{template "COMMONCONTENTJS"}}
| {{end}}
