
include ../mixins
block CONTENT
    :go:func
        Productindex(c ViewContainer)

    #accordion
        #list-collapse.collapse.show(data-parent='#accordion')
            //- header.row
            //-     .col-sm-12
            table#Product_table(
                        data-striped='true'
                        data-search='false'
                        data-pagination-v-align='both'
                        data-toolbar="#toolbar"
                        data-side-pagination='server'
                        data-page-list="[5, 10, 20, 50, 100]"
                        data-pagination='true'
                        data-ajax='Product_getTableData'
                        data-query-params='Product_dataQueryParams'
                        data-sort-name='name.name_label'
                        data-detail-view="true"
                        data-detail-formatter="Product_detailFormatter"
                        data-classes="table table-hover")
                thead
                    tr
                        // th(data-field='product_id' data-sortable='true') ID
                        th.th-product-name(data-field='name.name_label' data-sortable='true' data-formatter='Product_nameFormatter')
                            = T("product_name_table_header", 1)
                        th(data-field='empiricalformula.empiricalformula_label' data-sortable='true' data-formatter='Product_empiricalformulaFormatter')
                            = T("product_empiricalformula_table_header", 1)
                        th(data-field='casnumber.casnumber_label' data-sortable='true' data-formatter='Product_casnumberFormatter')
                            = T("product_cas_table_header", 1)
                        //- th(data-field='product_specificity' data-sortable='false' data-formatter='Product_productspecificityFormatter')
                        //-     = T("product_specificity_table_header", 1)
                        //- th(data-field='product_sl' data-formatter='Product_productslFormatter' data-sortable='false') 
                        th.th-product-operate(data-field='operate' data-formatter='Product_operateFormatter' data-events='operateEvents') 

block CONTENTJS
    script.
        window.operateEvents = {
            "click .bookmark": function (e, value, row, index) {
                Product_operateEventsBookmark(e, value, row, index)
            },
            "click .store": function (e, value, row, index) {
                Product_operateEventsStore(e, value, row, index)
            },
            "click .storages": function (e, value, row, index) {
                Product_operateEventsStorages(e, value, row, index)
            },
            "click .ostorages": function (e, value, row, index) {
                Product_operateEventsOStorages(e, value, row, index)
            },
            "click .productedit": function (e, value, row, index) {
                Product_operateEventsEdit(e, value, row, index)
            },
            "click .productdelete": function (e, value, row, index) {
                Product_operateEventsDelete(e, value, row, index)
            },
            "click .totalstock": function (e, value, row, index) {
                Product_operateEventsTotalStock(e, value, row, index)
            }
        }