| {{define "CONTENT"}}

    #search.row.pt-sm-4.pb-sm-4.pl-sm-2.pr-sm-2.mt-sm-2.mb-sm-2.ml-sm-5.mr-sm-5.bg-light.border.rounded.collapse.show
        .col
            .row
                .col-sm-12
                    | {{$icon := "docker"}} {{$name := "s_storelocation"}}
                    +selecticon
            .row
                .col-sm-6
                    | {{$label := T "s_custom_name_part_of" 1 }} {{$name := "s_custom_name_part_of"}}
                    +inputtextcompact
                .col-sm-6
                .col-sm-6
                    | {{$label := T "s_name" 1 }} {{$name := "s_name"}}
                    +selectcompact
                .col-sm-6
                    | {{$label := T "s_casnumber" 1 }} {{$name := "s_casnumber"}}
                    +selectcompact
                .col-sm-6
                    | {{$label := T "s_empiricalformula" 1 }} {{$name := "s_empiricalformula"}}
                    +selectcompact
                .col-sm-6
                    | {{$label := T "s_storage_barecode" 1 }} {{$name := "s_storage_barecode"}}
                    +inputtextcompact
            .row.collapse#advancedsearch
                .col-sm-12
                    .form-row
                        .form-group.col-sm-6
                            | {{$label := T "s_signalword" 1 }} {{$name := "s_signalword"}}
                            +select
                        .form-group.col-sm-6
                            | {{$label := T "s_symbols" 1 }} {{$name := "s_symbols"}}
                            +selectmultiple
                    .form-row
                        .form-group.col-sm-6
                            | {{$label := T "s_hazardstatements" 1 }} {{$name := "s_hazardstatements"}}
                            +selectmultiple
                        .form-group.col-sm-6
                            | {{$label := T "s_precautionarystatements" 1 }} {{$name := "s_precautionarystatements"}}
                            +selectmultiple
            .row
                .col.col-sm-10
                    button#clearsearch.btn.btn-link.mr-sm-2(type="button" onclick="clearsearch();")
                        span.mdi.mdi-broom.mdi-24px.iconlabel
                            | {{ T "clearsearch_text" 1 }} 

                    button#search.btn.btn-lg.btn-link.mr-sm-2(type="button" onclick="search();")
                        span.mdi.mdi-magnify.mdi-24px.iconlabel
                            | {{ T "search_text" 1 }} 
                .col.col-sm-2
                    button.btn.btn-link(data-toggle="collapse" href="#advancedsearch" aria-expanded="false")
                        span.mdi.mdi-magnify-plus-outline.mdi-24px.iconlabel
                            | {{ T "advancedsearch_text" 1 }} 

    .row
        .col-sm-8
            #filter-item
        .col-sm-2.d-flex.justify-content-end
            #button-store
        .col-sm-2.d-flex.justify-content-end
            #button-stock

    #toolbar.row
        .col.toggleable
            button.btn.btn-link#switchview(type="button" onclick="switchProductStorageView()")
                span.mdi.mdi-tag.mdi-24px.iconlabel
                    | {{ T "switchproductview_text" 1 }} 
        .col
            button.btn.btn-link#export(type="button" onclick="exportAll()")
                span.mdi.mdi-content-save.mdi-24px.iconlabel
                    | {{ T "export_text" 1 }} 
        .col
            button#s_storage_archive_button.btn.btn-link(type="button" data-toggle="button" aria-pressed="true" autocomplete="off")
                span.mdi.mdi-delete.mdi-24px.iconlabel
                    | {{ T "showdeleted_text" 1 }} 

    #stock.modal.fade(role="dialog" tabindex="-1" aria-labelledby="stockLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-body#stock-body
                    span.mdi.mdi-36px.mdi-spin.mdi-autorenew
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") close

    #exportlink.modal.fade(role="dialog" tabindex="-1" aria-labelledby="exportlinkLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-body#exportlink-body
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") close

    #borrow.modal.fade(role="dialog" tabindex="-1" aria-labelledby="borrowLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-body#borrow-body
                    form#borrowing
                        input#bstorage_id(type='hidden', name='bstorage_id', value='')
                        .form-group.row
                            .form-group.col-sm-auto
                                span.badge.badge-pill.badge-danger &nbsp;
                            .form-group.col-sm-11
                                | {{$label := "borrower"}} {{$name := "borrower"}}
                                +select
                        .form-group.row
                            .col-sm-12
                                | {{$label := "comment"}} {{$name := "borrowing_comment"}}
                                +inputtextarea
                .modal-footer
                    button.btn.btn-link(type="button" onclick='saveBorrowing()')
                        span.mdi.mdi-content-save.mdi-24px.iconlabel
                            | {{ T "save" 1 }}
                    button.btn.btn-link(type="button" data-dismiss="modal")
                        span.mdi.mdi-content-save.mdi-24px.iconlabel
                            | {{ T "close" 1 }}

    #accordion
        #list-collapse.collapse.show(data-parent='#accordion')
            header.row
                .col-sm-12
                    table#table(data-toggle='table', 
                                data-striped='true', 
                                data-search='false', 
                                data-toolbar="#toolbar",
                                data-side-pagination='server', 
                                data-page-list="[5, 10, 20, 50, 100, 200, 500]",
                                data-pagination='true', 
                                data-ajax='getData', 
                                data-query-params='queryParams',
                                data-sort-name='name.name_label',
                                data-detail-view="true",
                                data-detail-formatter="detailFormatter",
                                data-row-attributes="rowAttributes")
                        thead
                            tr
                                th(data-field='storage_id' data-formatter='storage_idFormatter' data-sortable='true') ID
                                th(data-field='storage_modificationdate' data-formatter='dateFormatter' data-sortable='true') modification date
                                th(data-field='storage_barecode' data-formatter='storage_barecodeFormatter') barecode
                                th.th-width-200(data-field='product.name.name_label' data-sortable='true') product
                                th(data-field='storelocation.storelocation_fullpath' data-sortable='true' data-formatter='storelocation_fullpathFormatter') store location
                                th(data-field='operate', data-formatter='operateFormatter', data-events='operateEvents') 

        #edit-collapse.collapse(data-parent='#accordion')
            form#storage
                input#index(type='hidden', name='index', value='')
                input#storage_id(type='hidden', name='storage_id', value='')

                input#exactMatchSupplier(type="hidden")

                .form-group.row
                    .form-group.col-sm-auto
                        span.badge.badge-pill.badge-danger &nbsp;
                    .form-group.col-sm-11
                        | {{$label := "store location"}} {{$name := "storelocation"}}
                        +select
                .form-group.row
                    .col-sm-6
                        | {{$label := "quantity"}} {{$name := "storage_quantity"}} {{$step := "any"}} {{$min := "1"}} {{$max := "10000000"}} {{$value := ""}}
                        +inputnumber
                    .col-sm-6
                        | {{$label := "unit"}} {{$name := "unit"}}
                        +select 
                .form-group.row
                    .col-sm-12
                        | {{$label := "supplier"}} {{$name := "supplier"}}
                        +select
                .form-group.row
                    .col-sm-3
                        | {{$label := "entry date"}} {{$name := "storage_entrydate"}}
                        +inputdate
                    .col-sm-3
                        | {{$label := "exit date"}} {{$name := "storage_exitdate"}}
                        +inputdate
                    .col-sm-3
                        | {{$label := "opening date"}} {{$name := "storage_openingdate"}}
                        +inputdate
                    .col-sm-3
                        | {{$label := "expiration date"}} {{$name := "storage_expirationdate"}}
                        +inputdate
                .form-group.row
                    .col-sm-6
                        | {{$label := "reference"}} {{$name := "storage_reference"}}
                        +inputtext
                    .col-sm-6
                        | {{$label := "batch number"}} {{$name := "storage_batchnumber"}}
                        +inputtext
                .form-group.row
                    .col-sm-12
                        | {{$label := "barecode"}} {{$name := "storage_barecode"}}
                        +inputtext
                .form-group.row
                    .col-sm-12
                        | {{$label := "comment"}} {{$name := "storage_comment"}}
                        +inputtext  
                .form-group.row
                    .col-sm-12
                        | {{$label := "to destroy"}} {{$name := "storage_todestroy"}}
                        +checkbox

            button#save.btn.btn-link(type='button', onclick='saveStorage()')
                span.mdi.mdi-content-save.mdi-24px.iconlabel
                    | {{ T "save" 1 }}
            button.btn.btn-link(type='button', onclick='closeEdit();')
                span.mdi.mdi-content-save.mdi-24px.iconlabel
                    | {{ T "close" 1 }}
| {{end}}
| {{define "CONTENTJS"}}

| <script src="../js/product_storage.js"></script>
| <script src="../js/storage.js"></script>

| {{template "COMMONCONTENTJS"}}
| {{end}}
