
include ../mixins
block CONTENT
    :go:func
        Storageindex(c ViewContainer)

    #stock.modal.fade(role="dialog" tabindex="-1" aria-labelledby="stockLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-body#stock-body
                    span.mdi.mdi-36px.mdi-spin.mdi-autorenew
                .modal-footer
                    button.btn.btn-link(type="button" data-dismiss="modal")
                        span.mdi.mdi-close-box.mdi-24px.iconlabel
                            = T("close", 1)

    #borrow.modal.fade(role="dialog" tabindex="-1" aria-labelledby="borrowLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-body#borrow-body
                    form#borrowing
                        input#bstorage_id(type='hidden', name='bstorage_id', value='')
                        .form-group.row
                            .form-group.col-sm-auto
                                span.badge.badge-pill.badge-danger &nbsp;
                            .form-group.col-sm-11
                                +inputselect(name="borrower", label="storage_borrower_title")
                        .form-group.row
                            .col-sm-12
                                +inputtext(name="borrowing_comment", label="storage_comment_title", type="textarea")
                .modal-footer
                    button.btn.btn-link(type="button" onclick='Storage_saveBorrowing()')
                        span.mdi.mdi-content-save.mdi-24px.iconlabel
                            = T("save", 1)
                    button.btn.btn-link(type="button" data-dismiss="modal")
                        span.mdi.mdi-close-box.mdi-24px.iconlabel
                            = T("close", 1)

    #accordion
        #list-collapse.collapse.show(data-parent='#accordion')
            //- header.row
            //-     .col-sm-12
            table#Storage_table(
                        data-striped='true'
                        data-search='false'
                        data-pagination-v-align='both'
                        data-toolbar="#toolbar"
                        data-side-pagination='server'
                        data-page-list="[5, 10, 20, 50, 100]"
                        data-pagination='true'
                        data-ajax='Storage_getTableData'
                        data-query-params='Storage_dataQueryParams'
                        data-sort-name='name.name_label'
                        data-detail-view="true"
                        data-detail-formatter="Storage_detailFormatter"
                        data-classes="table table-hover")
                thead
                    tr
                        //th(data-field='storage_id' data-formatter='storage_idFormatter' data-sortable='true') ID
                        //th(data-field='storage_modificationdate' data-formatter='dateFormatter' data-sortable='true') modification date
                        th(data-field='product.name.name_label' data-formatter='Storage_productFormatter' data-sortable='true')
                            = T("storage_product_table_header", 1)
                        th(data-field='storelocation.storelocation_fullpath' data-sortable='true' data-formatter='Storage_storelocationFormatter')
                            = T("storage_storelocation_table_header", 1)
                        th(data-field='storage_quantity' data-formatter='Storage_quantityFormatter')
                            = T("storage_quantity_table_header", 1)
                        th.th-storage-barecode(data-field='storage_barecode' data-formatter='Storage_barecodeFormatter' data-sortable='true')
                            = T("storage_barecode_table_header", 1)
                        th.th-storage-operate(data-field='operate', data-formatter='Storage_operateFormatter', data-events='operateEvents') 

block CONTENTJS
    script.
        window.operateEvents = {
            "click .restore": function (e, value, row, index) {
                Storage_operateEventsRestore(e, value, row, index)
            },
            "click .clone": function (e, value, row, index) {
                Storage_operateEventsClone(e, value, row, index)
            },
            "click .history": function (e, value, row, index) {
                Storage_operateEventsHistory(e, value, row, index)
            },
            "click .borrow": function (e, value, row, index) {
                Storage_operateEventsBorrow(e, value, row, index)
            },
            "click .storageedit": function (e, value, row, index) {
                Storage_operateEventsEdit(e, value, row, index)
            },
            "click .archive": function (e, value, row, index) {
                Storage_operateEventsArchive(e, value, row, index)
            },
            "click .storagedelete": function (e, value, row, index) {
                Storage_operateEventsDelete(e, value, row, index)
            }
        }