| {{define "CONTENT"}}

    #search.row.pt-sm-4.pb-sm-4.pl-sm-2.pr-sm-2.mt-sm-2.mb-sm-2.ml-sm-5.mr-sm-5.bg-light.border.rounded.collapse.show
        .col
            .row
                .col.mb-sm-2
                    | {{$icon := "docker"}} {{$name := "storelocationselector"}}
                    +selecticon
            .row
                .col-sm-6
                    | {{$label := "part of name"}} {{$name := "s_custom_name_part_of"}}
                    +inputtextcompact
                .col-sm-6
                .col-sm-6
                    | {{$label := "exact name"}} {{$name := "s_name"}}
                    +selectcompact
                .col-sm-6
                    | {{$label := "cas"}} {{$name := "s_casnumber"}}
                    +selectcompact
                .col-sm-6
                    | {{$label := "emp. formula"}} {{$name := "s_empiricalformula"}}
                    +selectcompact
                .col-sm-6
                    | {{$label := "barecode"}} {{$name := "s_storage_barecode"}}
                    +inputtextcompact
            .row.collapse#advancedsearch
                .col-sm-12
                    .form-row
                        .form-group.col-sm-6
                            | {{$label := "signal word"}} {{$name := "s_signalword"}}
                            +select
                        .form-group.col-sm-6
                            | {{$label := "symbol(s)"}} {{$name := "s_symbols"}}
                            +selectmultiple
                    .form-row
                        .form-group.col-sm-6
                            | {{$label := "hazard statement(s)"}} {{$name := "s_hazardstatements"}}
                            +selectmultiple
                        .form-group.col-sm-6
                            | {{$label := "precautionary statement(s)"}} {{$name := "s_precautionarystatements"}}
                            +selectmultiple
            .row
                .col.col-sm-11
                    button#clearsearch.btn-sm.btn.btn-primary.mr-sm-2(title="clear search form" type="button" onclick="clearsearch();")
                        span.mdi.mdi-broom.mdi-24px
                    button#search.btn-lg.btn.btn-primary.mr-sm-2(title="search" type="button" onclick="search();")
                        span.mdi.mdi-magnify.mdi-24px
                .col.col-sm-1
                    a.btn.btn-primary.btn-sm(data-toggle="collapse" href="#advancedsearch" role="button" aria-expanded="false" title="advanced search")
                        span.mdi.mdi-magnify-plus-outline.mdi-24px

    .row
        .col-sm-8
            #filter-item
        .col-sm-2.d-flex.justify-content-end
            #button-store
        .col-sm-2.d-flex.justify-content-end
            #button-stock

    #toolbar.row
        .col.toggleable
            button.btn.btn-secondary#switchview(type="button" title="switch to product view" onclick="switchProductStorageView()")
                span.mdi.mdi-tag.mdi-24px
        .col
            button.btn.btn-secondary#export(type="button" title="export" onclick="exportAll()")
                span.mdi.mdi-content-save.mdi-24px
        .col
            .button#s_storage_archive_button.btn.btn-secondary(type="button" data-toggle="button" aria-pressed="true" autocomplete="off" title="show deleted")
                span.mdi.mdi-delete.mdi-24px

    #stock.modal.fade(role="dialog" tabindex="-1" aria-labelledby="stockLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-body#stock-body
                    span.mdi.mdi-36px.mdi-spin.mdi-autorenew
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") close

    #exportlink.modal.fade(role="dialog" tabindex="-1" aria-labelledby="exportlinkLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-body#exportlink-body
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") close

    #borrow.modal.fade(role="dialog" tabindex="-1" aria-labelledby="borrowLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-body#borrow-body
                    form#borrowing
                        input#bstorage_id(type='hidden', name='bstorage_id', value='')
                        .form-group.row
                            .form-group.col-sm-auto
                                span.badge.badge-pill.badge-danger &nbsp;
                            .form-group.col-sm-11
                                | {{$label := "borrower"}} {{$name := "borrower"}}
                                +select
                        .form-group.row
                            .col-sm-12
                                | {{$label := "comment"}} {{$name := "borrowing_comment"}}
                                +inputtextarea
                .modal-footer
                    button.btn.btn-secondary(type="button" onclick='saveBorrowing()') save
                    button.btn.btn-secondary(type="button" data-dismiss="modal") close

    #accordion
        #list-collapse.collapse.show(data-parent='#accordion')
            header.row
                .col-sm-12
                    table#table(data-toggle='table', 
                                data-striped='true', 
                                data-search='false', 
                                data-toolbar="#toolbar",
                                data-side-pagination='server', 
                                data-page-list="[5, 10, 20, 50, 100, 200, 500]",
                                data-pagination='true', 
                                data-ajax='getData', 
                                data-query-params='queryParams',
                                data-sort-name='name.name_label',
                                data-detail-view="true",
                                data-detail-formatter="detailFormatter",
                                data-row-attributes="rowAttributes")
                        thead
                            tr
                                th(data-field='storage_id' data-formatter='storage_idFormatter' data-sortable='true') ID
                                th(data-field='storage_modificationdate' data-formatter='dateFormatter' data-sortable='true') modification date
                                th(data-field='storage_barecode' data-formatter='storage_barecodeFormatter') barecode
                                th.th-width-200(data-field='product.name.name_label' data-sortable='true') product
                                th(data-field='storelocation.storelocation_fullpath' data-sortable='true' data-formatter='storelocation_fullpathFormatter') store location
                                th(data-field='operate', data-formatter='operateFormatter', data-events='operateEvents') 

        #edit-collapse.collapse(data-parent='#accordion')
            form#storage
                input#index(type='hidden', name='index', value='')
                input#storage_id(type='hidden', name='storage_id', value='')

                input#exactMatchSupplier(type="hidden")

                .form-group.row
                    .form-group.col-sm-auto
                        span.badge.badge-pill.badge-danger &nbsp;
                    .form-group.col-sm-11
                        | {{$label := "store location"}} {{$name := "storelocation"}}
                        +select
                .form-group.row
                    .col-sm-6
                        | {{$label := "quantity"}} {{$name := "storage_quantity"}} {{$step := "any"}} {{$min := "1"}} {{$max := "10000000"}} {{$value := ""}}
                        +inputnumber
                    .col-sm-6
                        | {{$label := "unit"}} {{$name := "unit"}}
                        +select 
                .form-group.row
                    .col-sm-12
                        | {{$label := "supplier"}} {{$name := "supplier"}}
                        +select
                .form-group.row
                    .col-sm-3
                        | {{$label := "entry date"}} {{$name := "storage_entrydate"}}
                        +inputdate
                    .col-sm-3
                        | {{$label := "exit date"}} {{$name := "storage_exitdate"}}
                        +inputdate
                    .col-sm-3
                        | {{$label := "opening date"}} {{$name := "storage_openingdate"}}
                        +inputdate
                    .col-sm-3
                        | {{$label := "expiration date"}} {{$name := "storage_expirationdate"}}
                        +inputdate
                .form-group.row
                    .col-sm-6
                        | {{$label := "reference"}} {{$name := "storage_reference"}}
                        +inputtext
                    .col-sm-6
                        | {{$label := "batch number"}} {{$name := "storage_batchnumber"}}
                        +inputtext
                .form-group.row
                    .col-sm-12
                        | {{$label := "barecode"}} {{$name := "storage_barecode"}}
                        +inputtext
                .form-group.row
                    .col-sm-12
                        | {{$label := "comment"}} {{$name := "storage_comment"}}
                        +inputtext  
                .form-group.row
                    .col-sm-12
                        | {{$label := "to destroy"}} {{$name := "storage_todestroy"}}
                        +checkbox

            button#save.btn.btn-primary(type='button', onclick='saveStorage()') save changes
            button.btn.btn-secondary(type='button', onclick='closeEdit();') close
| {{end}}
| {{define "CONTENTJS"}}
| {{template "COMMONCONTENTJS"}}
    script.
        //
        // close buttons actions
        //
        function closeEdit() { 

            // getting request parameters
            var urlParams = new URLSearchParams(window.location.search);

            $("#list-collapse").collapse("show"); 
            $("#edit-collapse").collapse("hide"); 
            if (!urlParams.get("product") && !urlParams.get("entity")) {
                $(".toggleable").show();
            }
            $('div#search').collapse('show');
        }

        //
        // view storages button
        //
        $('#s_storage_archive_button').on('click', function () {
            var $table = $('#table'),
                btntitle = "",
                btnicon = "";
            if ($('#s_storage_archive_button').hasClass("active")) {
                updateQueryStringParam("storage_archive", "false");
                btntitle = "show deleted";
                btnicon = "delete";
            } else {
                updateQueryStringParam("storage_archive", "true");
                btntitle = "do not show deleted";       
                btnicon = "delete-forever";
            }
            $table.bootstrapTable('refresh');
            $('#s_storage_archive_button').attr("title", btntitle);
            $('#s_storage_archive_button > span').attr("class", "mdi mdi-24px mdi-"+btnicon);
        });

        //
        // startup actions
        //
        $( document ).ready(function() {  
        });
        $('#table').on('load-success.bs.table refresh.bs.table', function () {
            
            // getting request parameters
            var urlParams = new URLSearchParams(window.location.search);

            // FIXME: this should be done before table rendering to avoid 2 ajax calls
            // populating search input if needed
            //if (URLValues.has("search")) {
            if (urlParams.has("search")) {
                //$('#table').bootstrapTable('resetSearch', URLValues.get("search")[0]);
                $('#table').bootstrapTable('resetSearch', urlParams.get("search"));
            }
            // highlight row if needed
            if (urlParams.has("hl")) {
                $("tr[storage_id=" + urlParams.get("hl") + "]").addClass("animated bounce slow");
            }
            
            var storelocationpromise = $.Deferred();
            var entitypromise = $.Deferred();
            var storagepromise = $.Deferred();
            var productpromise = $.Deferred();
            var historypromise = $.Deferred();
            var productData, storageData, storelocationData, entityData, historyData;
            // display titles, switch products<>storages selector
            //if (URLValues.has("entity")) {
            if (urlParams.has("entity")) {
                //e = URLValues.get("entity")[0];
                e = urlParams.get("entity");
                entitypromise = $.ajax({
                    url: proxyPath + "entities/" + e,
                    method: "GET",
                }).done(function(data, textStatus, jqXHR) {
                    entityData = data;
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    handleHTTPError(jqXHR.statusText, jqXHR.status)
                });
            } else {
                entitypromise.resolve();
            }
            if (urlParams.has("storelocation")) {
                //e = URLValues.get("entity")[0];
                s = urlParams.get("storelocation");
                storelocationpromise = $.ajax({
                    url: proxyPath + "storelocations/" + s,
                    method: "GET",
                }).done(function(data, textStatus, jqXHR) {
                    storelocationData = data;
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    handleHTTPError(jqXHR.statusText, jqXHR.status)
                });
            } else {
                storelocationpromise.resolve();
            }
            if (urlParams.has("storage")) {
                //e = URLValues.get("entity")[0];
                s = urlParams.get("storage");
                storagepromise = $.ajax({
                    url: proxyPath + "storages/" + s,
                    method: "GET",
                }).done(function(data, textStatus, jqXHR) {
                    storageData = data;
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    handleHTTPError(jqXHR.statusText, jqXHR.status)
                });
                // hiding the storage<>product view switch
                $(".toggleable").hide();
            } else {
                storagepromise.resolve();
            }
            //if (URLValues.has("product")) {
            if (urlParams.has("product")) {
                //p = URLValues.get("product")[0];
                p = urlParams.get("product");
                // setting the title
                productpromise = $.ajax({
                    url: proxyPath + "products/" + p,
                    method: "GET",
                }).done(function(data, textStatus, jqXHR) {
                    productData = data;
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    handleHTTPError(jqXHR.statusText, jqXHR.status)
                });
                // hiding the storage<>product view switch
                $(".toggleable").hide();
                
                hasPermission(proxyPath + "f/storages/-2", "POST").done(function(){
                    // adding a create storage button for the product
                    b = $("<button>").addClass("store btn btn-primary btn-sm").attr("title", "store this product").attr("type", "button");
                    b.attr("onclick", "window.location.href = '" + proxyPath + "vc/storages?product=" + p + "'");
                    i = $("<span>").addClass("mdi mdi-24px mdi-forklift");
                    b.append(i);
                    $("#button-store").html(b);
                })

                hasPermission(proxyPath + "f/storages/-2", "GET").done(function(){
                    // adding a create show stock button for the product
                    b = $("<button>").addClass("store btn btn-primary btn-sm").attr("title", "show stock of this product").attr("type", "button").attr("data-toggle", "modal").attr("data-target", "#stock");
                    b.attr("onclick", "showStock(" + p + ")");
                    i = $("<span>").addClass("mdi mdi-24px mdi-sigma");
                    b.append(i);
                    $("#button-stock").html(b);
                })

            } else {
                productpromise.resolve();
            }
            if (urlParams.has("history")) {
                historyData = true;
            }
            historypromise.resolve();

            $.when(entitypromise, storelocationpromise, storagepromise, productpromise).done(function() {
                $("#filter-item").html("");
                if (historyData !== undefined) {
                    $("#filter-item").append(global.createTitle("history", "history"));
                };
                if (entityData !== undefined) {
                    $("#filter-item").append(global.createTitle(entityData.entity_name, "entity"));
                };
                if (storelocationData !== undefined) {
                    $("#filter-item").append(global.createTitle(storelocationData.storelocation_name.String, "storelocation"));
                };
                if (storageData !== undefined) {
                    $("#filter-item").append(global.createTitle(storageData.product.name.name_label + " " + storageData.product.product_specificity.String + " (" + storageData.product.casnumber.casnumber_label + ") - " + storageData.storelocation.storelocation_fullpath, "storage"));
                };
                if (productData !== undefined) {
                    $("#filter-item").append(global.createTitle(productData.name.name_label + " (" + productData.casnumber.casnumber_label + ") " + productData.product_specificity.String, "product"));
                };
            });

            cleanQueryParams();
        });

        //
        // stock
        //
        function showStockRecursive(sl, depth) {
            // pre checking if there is a stock or not for sl
            var hasStock = false;
            for (var i in sl.stock) { 
                var stock = sl.stock[i];
                if (stock.total !== 0 || stock.current !== 0) {
                    hasStock = true;
                    break;
                }
            }

            if (hasStock) {
                var html = [("<div class='row mt-sm-3'>")];
                for (i=1; i<=depth; i++) {
                    html.push("<div class='col-sm-1'>&nbsp;</div>");
                }
                html.push("<div class='col' style='color: " + sl.storelocation_color.String + "'>" + sl.storelocation_name.String + "</div>");

                for (var i in sl.stock) {
                    var stock = sl.stock[i];
                    
                    if (stock.total === 0 && stock.current === 0) {
                    } else {
                        html.push("<div class='col'><i title='total stock including sub store locations' class='material-icons'>functions</i> " + stock.total + " <b>" + stock.unit.unit_label.String + "</b></div>");
                        html.push("<div class='col'><i title='total in this store location' class='material-icons'>extensions</i> " + stock.current + " <b>" + stock.unit.unit_label.String + "</b></div>");
                    
                    }
                }
                
                $("#stock-body").append(html.join(""));
                $("#stock-body").append("</div>");
            }

            if (sl.children !== null) {
                depth++;
                for  (var key in sl.children) {
                    showStockRecursive(sl.children[key], depth);
                }
            }
        }
        function showStock(pid) {
            $.ajax({
                url: proxyPath + "stocks/" + pid,
                method: "GET",
            }).done(function(data, textStatus, jqXHR) {
                $("#stock-body").html("");
                for (var key in data) {
                    showStockRecursive(data[key], 0)
                }
            }).fail(function(jqXHR, textStatus, errorThrown) {
                handleHTTPError(jqXHR.statusText, jqXHR.status);
            });
        }

        //
        // table data loading
        //
        function queryParams(params) {
            // getting request parameters
            var urlParams = new URLSearchParams(window.location.search);

            var name = urlParams.get("name");
            var casnumber = urlParams.get("casnumber");
            var empiricalformula = urlParams.get("empiricalformula");
            var storage_barecode = urlParams.get("storage_barecode");
            var storage_archive = urlParams.get("storage_archive");
            var custom_name_part_of = urlParams.get("custom_name_part_of");
            // need to populate the form in case of product/storage view switch
            if (name != null) {
                $.ajax({
                    url: proxyPath + "products/names/" + name,
                    method: "GET",
                }).done(function(data, textStatus, jqXHR) {
                    var newOption = new Option(data.name_label, data.name_id, false, false);
                    $('#s_name').append(newOption).trigger('change');
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    handleHTTPError(jqXHR.statusText, jqXHR.status)
                });
            }
            if (casnumber != null) {
                $.ajax({
                    url: proxyPath + "products/casnumbers/" + casnumber,
                    method: "GET",
                }).done(function(data, textStatus, jqXHR) {
                    var newOption = new Option(data.casnumber_label, data.casnumber_id, false, false);
                    $('#s_casnumber').append(newOption).trigger('change');
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    handleHTTPError(jqXHR.statusText, jqXHR.status)
                });
            }
            if (empiricalformula != null) {
                $.ajax({
                    url: proxyPath + "products/empiricalformulas/" + empiricalformula,
                    method: "GET",
                }).done(function(data, textStatus, jqXHR) {
                    var newOption = new Option(data.empiricalformula_label, data.empiricalformula_id, false, false);
                    $('#s_empiricalformula').append(newOption).trigger('change');
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    handleHTTPError(jqXHR.statusText, jqXHR.status)
                });
            }
            if (storage_barecode != null) {
                $("input#storage_barecode").val(storage_barecode);
            }
            if (custom_name_part_of != null) {
                $("input#custom_name_part_of").val(custom_name_part_of);
            }
            if (storage_archive != null && storage_archive == "true") {
                $("#s_storage_archive").prop( "checked", true );
            }

            if (urlParams.has("entity")) {
                params["entity"] = urlParams.get("entity");
            }
            if (urlParams.has("storelocation")) {
                params["storelocation"] = urlParams.get("storelocation");
            }
            if (urlParams.has("product")) {
                params["product"] = urlParams.get("product");
            }
            if (urlParams.has("storage")) {
                params["storage"] = urlParams.get("storage");
            }
            if (urlParams.has("history")) {
                params["history"] = urlParams.get("history");
            }
            if (urlParams.has("storage_archive")) {
                params["storage_archive"] = urlParams.get("storage_archive");
            }
            if (urlParams.has("export")) {
                params["export"] = urlParams.get("export");
            }

            if (name != null) {
                params["name"] = name;
            }
            if (casnumber != null) {
                params["casnumber"] = casnumber;
            }
            if (empiricalformula != null) {
                params["empiricalformula"] = empiricalformula;
            }
            if (storage_barecode != null) {
                params["storage_barecode"] = storage_barecode;
            }

            return params;
        }
        function getData(params) {
            // getting request parameters
            var urlParams = new URLSearchParams(window.location.search);

            // saving the query parameters
            lastQueryParams = params;
            $.ajax({
                url: proxyPath + "storages",
                method: "GET",
                dataType: "JSON",
                data: params.data,
            }).done(function(data, textStatus, jqXHR) {
                params.success({
                    rows: data.rows,
                    total: data.total,
                });
                if (data.total == 0) {
                    var $table = $('#table');
                    $table.bootstrapTable('removeAll');
                }
                if (data.exportfn != "") {
                    var a = $("<a>").attr("href", proxyPath + "download/" + data.exportfn).text("download");
                    $("#exportlink-body").html("");
                    $("#exportlink-body").append(a);
                    $("#exportlink").modal("show");
                }
            }).fail(function(jqXHR, textStatus, errorThrown) {
                params.error(jqXHR.statusText);                
                handleHTTPError(jqXHR.statusText, jqXHR.status);
            });
        }

        //
        // table row attributes
        //
        function rowAttributes(row, index) {
            return {"storage_id":row["storage_id"].Int64}
        }
        //
        // table detail formatter
        //
        function detailFormatter(index, row) {
            var html = [];
            
            html.push("<div class='row'>")

            html.push("<div class='col-sm-3'>")
            if ( row["storage_qrcode"] != null ) {
                html.push("<img src='data:image/png;base64," + row["storage_qrcode"] + "'>")
            }
            html.push("</div>")

            html.push("<div class='col-sm-9'>")
            html.push("<div class='row mt-sm-3'>")
            html.push("<div class='col-sm-6'><i class='material-icons'>local_offer</i> " + row["product"]["name"]["name_label"] + "</p></div>")
            html.push("<div class='col-sm-6'><i class='material-icons'>extension</i> " + row["storelocation"]["storelocation_name"]["String"] + "</p></div>")
            html.push("</div>")            

            html.push("<div class='row mt-sm-3'>")
            html.push("<div class='col-sm-3'><p><b>quantity</b> " + row["storage_quantity"]["Float64"] + " " + row["unit"]["unit_label"]["String"] + "</p></div>")
            html.push("<div class='col-sm-3'><b>barecode</b> " + row["storage_barecode"]["String"] + "</p></div>")
            html.push("</div>")   

            html.push("<div class='row mt-sm-2'>")
            html.push("<div class='col-sm-3'><b>batch number</b> " + row["storage_batchnumber"]["String"] + "</p></div>")
            html.push("<div class='col-sm-3'><p><b>supplier</b> " + row["supplier"]["supplier_label"]["String"] + "</p></div>")
            html.push("</div>")    

            html.push("<div class='row mt-sm-2'>")
            html.push("<div class='col-sm-12'><b>entry date</b> " + dateFormatter(row["storage_entrydate"], null, null, null) + "</p></div>")
            html.push("<div class='col-sm-12'><b>exit date</b> " + dateFormatter(row["storage_exitdate"], null, null, null) + "</p></div>")
            html.push("<div class='col-sm-12'><b>opening date</b> " + dateFormatter(row["storage_openingdate"], null, null, null) + "</p></div>")
            html.push("<div class='col-sm-12'><b>expiration date</b> " + dateFormatter(row["storage_expirationdate"], null, null, null) + "</p></div>")
            html.push("</div>")   

            html.push("<div class='row mt-sm-4'>")
            html.push("<div class='col-sm-8'>" + dateFormatter(row["storage_creationdate"], null, null, null) + " <i>(" + dateFormatter(row["storage_modificationdate"], null, null, null) + ")</i></div>")
            html.push("<div class='col-sm-4'>" + row["person"]["person_email"] + "</div>")
            html.push("</div>")   

            html.push("<div class='row'>")
            if (row["storage_todestroy"]["Bool"]) {
                html.push("<div class='col-sm-12'><i title='to destroy' class='material-icons'>delete_outline</i></div>")
            }
            html.push("</div>")             
            html.push("</div>")

            html.push("</div>")  

            return html.join('');
        }
        //
        // date formatter
        //
        function dateFormatter(value, row, index, field) {
            if (value.Valid != undefined && value.Valid == false) {
                return ""
            } else {
                date = new Date(value);
                return date.toLocaleString();
            }
        }
        //
        // storage_idFormatter
        //
        function storage_idFormatter(value, row, index, field) {
            if (row.storage_id.Valid) {
                return row.storage_id.Int64;
            } else {
                return value;
            }            
        }
        //
        // storelocation_name formatter
        //
        function storelocation_fullpathFormatter(value, row, index, field) {
            if (row.storelocation.storelocation_color.Valid) {
                return "<span style='color:" + row.storelocation.storelocation_color.String + ";'>" + value + "</span>";
            } else {
                return "<span>" + value + "</span>";
            }
        }
        //
        // storage_barecode formatter
        //
        function storage_barecodeFormatter(value, row, index, field) {
            if (row.storage_barecode.Valid) {
                return row.storage_barecode.String;
            } else {
                return "";
            }
        }

        //
        // table items actions
        //
        function operateFormatter(value, row, index) {
            // show action buttons if permitted
            sid = row.storage_id.Int64
            eid = row.storelocation.entity.entity_id

            var borrowingicon = "hand-okay",
                borrowingtitle = "borrow";
            if (row.borrowing.borrowing_id.Valid) {
                borrowingicon = "hand-pointing-left";
                borrowingtitle = "unborrow"
            }

            if (row.storage_archive.Valid && row.storage_archive.Bool) {
                // this is an archive
                var actions = [
                '<button id="clone' + sid + '" class="clone btn btn-primary btn-sm" style="display: none;" title="clone" type="button">',
                    '<span class="mdi mdi-24px mdi-content-copy"></span>',
                '</button>',
                '<button id="restore' + sid + '" class="restore btn btn-primary btn-sm" style="display: none;" title="restore" type="button">',
                    '<span class="mdi mdi-24px mdi-undo"></span>',
                '</button>',
                '<button id="delete' + sid + '" class="delete btn btn-primary btn-sm" style="display: none;" title="delete" type="button">',
                    '<span class="mdi mdi-24px mdi-delete"></span>',
                '</button>']; 
            } else if (row.storage.storage_id.Valid) {
                // this is an history
                var actions = [
                '<button id="clone' + sid + '" class="clone btn btn-primary btn-sm" style="display: none;" title="clone" type="button">',
                    '<span class="mdi mdi-24px mdi-content-copy"></span>',
                '</button>'];
            } else {
                // buttons are hidden by default
                var actions = [
                '<button id="edit' + sid + '" class="edit btn btn-primary btn-sm" style="display: none;" title="edit" type="button">',
                    '<span class="mdi mdi-24px mdi-border-color"></span>',
                '</button>',
                '<button id="clone' + sid + '" class="clone btn btn-primary btn-sm" style="display: none;" title="clone" type="button">',
                    '<span class="mdi mdi-24px mdi-content-copy"></span>',
                '</button>',
                '<button id="archive' + sid + '" class="archive btn btn-primary btn-sm" style="display: none;" title="delete" type="button">',
                    '<span class="mdi mdi-24px mdi-delete"></span>',
                '</button>',
                '<button id="borrow' + sid + '" data-target="#borrow" class="borrow btn btn-primary btn-sm" style="display: none;" title="' + borrowingtitle + '" type="button">',
                    '<span class="mdi mdi-24px mdi-' + borrowingicon + '"></span>',
                '</button>'];
            }

            if (row.storage.storage_id.Valid) {
                // this is an history
                actions.push('<span class="mdi mdi-24px mdi-history"></span>');
            }
            if (row.storage_archive.Valid && row.storage_archive.Bool) {
                // this is an archive
                actions.push('<span class="mdi mdi-24px mdi-delete"></span>');
            }

            if (row.storage_creationdate != row.storage_modificationdate && !row.storage.storage_id.Valid) {
                actions.push('<button id="history' + sid + '" class="history btn btn-primary btn-sm" title="show history" type="button">');
                actions.push('<span class="mdi mdi-24px mdi-history"></span>');
                actions.push('</button>');
            }

            hasPermission(proxyPath + "f/storages/" + eid, "PUT", sid).done(function(){
                    $("#edit"+this.itemId).fadeIn();
                    $("#clone"+this.itemId).fadeIn();
                    $("#borrow"+this.itemId).fadeIn();
            })
            hasPermission(proxyPath + "f/storages/" + eid, "DELETE", sid).done(function(){
                    $("#delete"+this.itemId).fadeIn();
                    $("#archive"+this.itemId).fadeIn();
                    $("#restore"+this.itemId).fadeIn();
            })

            return actions.join('&nbsp;')    
        }

        // items actions callback
        function operateBorrow(e, value, row, index) {
            $('select#borrower').val(null).trigger('change');
            $('select#borrower').find('option').remove();

            $("input#bstorage_id").val(row['storage_id'].Int64);

            if (row['borrowing']['borrowing_id'].Valid) {
                saveBorrowing();
            } else {
                $("#borrow").modal("show");
            }
            
            var $table = $('#table');
            $table.bootstrapTable('refresh');
        }
        function operateEdit(e, value, row, index) {
            // clearing selections
            $('input#storage_quantity').val(null);
            $('input#storage_entrydate').val(null);
            $('input#storage_exitdate').val(null);
            $('input#storage_openingdate').val(null);
            $('input#storage_expirationdate').val(null);
            $('input#storage_reference').val(null);
            $('input#storage_batchnumber').val(null);
            $('input#storage_barecode').val(null);
            $('input#storage_comment').val(null);

            $('select#storelocation').val(null).trigger('change');
            $('select#storelocation').find('option').remove();
            $('select#unit').val(null).trigger('change');
            $('select#unit').find('option').remove();
            $('select#supplier').val(null).trigger('change');
            $('select#supplier').find('option').remove();

            // getting the storage
            $.ajax({
                url: proxyPath + "storages/" + row['storage_id'].Int64,
                method: "GET",
            }).done(function(data, textStatus, jqXHR) {
                // flattening response data
                fdata = flatten(data);

                // processing sqlNull values
                newfdata = global.normalizeSqlNull(fdata);

                // autofilling form
                $("#edit-collapse").autofill( newfdata, {"findbyname": false } );

                // setting index hidden input
                $("input#index").val(index);

                // select2 is not autofilled - we need a special operation
                var newOption = new Option(data.storelocation.storelocation_name.String, data.storelocation.storelocation_id.Int64, true, true);
                $('select#storelocation').append(newOption).trigger('change');

                if (data.unit.unit_id.Valid) {
                    var newOption = new Option(data.unit.unit_label.String, data.unit.unit_id.Int64, true, true);
                    $('select#unit').append(newOption).trigger('change');
                }

                if (data.supplier.supplier_id.Valid) {
                    var newOption = new Option(data.supplier.supplier_label.String, data.supplier.supplier_id.Int64, true, true);
                    $('select#supplier').append(newOption).trigger('change');
                }

            }).fail(function(jqXHR, textStatus, errorThrown) {
                handleHTTPError(jqXHR.statusText, jqXHR.status)
            });

            // finally collapsing the view
            $('#edit-collapse').collapse('show');
            $('#list-collapse').collapse('hide');
            $('div#search').collapse('hide');
            $(".toggleable").hide();
        }
        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                operateEdit(e, value, row, index)
            },
            'click .borrow': function (e, value, row, index) {
                operateBorrow(e, value, row, index)
            },
            'click .history': function (e, value, row, index) {
                var urlParams = new URLSearchParams(window.location.search);
                window.location = proxyPath + "v/storages?storage="+row['storage_id'].Int64+"&history=true&" + urlParams;
            },
            'click .clone': function (e, value, row, index) {
                window.location = proxyPath + "vc/storages?storage="+row['storage_id'].Int64+"&product="+row['product']['product_id'];
            },
            'click .restore': function (e, value, row, index) {
                // hiding possible previous confirmation button
                $(this).confirmation("show").off( "confirmed.bs.confirmation");
                $(this).confirmation("show").off( "canceled.bs.confirmation");
                
                // ask for confirmation and then restore
                $(this).confirmation("show").on( "confirmed.bs.confirmation", function() {
                    $.ajax({
                        url: proxyPath + "storages/" + row['storage_id'].Int64 + "/r",
                        method: "PUT",
                    }).done(function(data, textStatus, jqXHR) {
                        global.displayMessage("storage restored", "success");
                        var $table = $('#table');
                        $table.bootstrapTable('refresh');
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        handleHTTPError(jqXHR.statusText, jqXHR.status)
                    });
                }).on( "canceled.bs.confirmation", function() {
                });
            },
            'click .archive': function (e, value, row, index) {
                // hiding possible previous confirmation button
                $(this).confirmation("show").off( "confirmed.bs.confirmation");
                $(this).confirmation("show").off( "canceled.bs.confirmation");
                
                // ask for confirmation and then delete
                $(this).confirmation("show").on( "confirmed.bs.confirmation", function() {
                    $.ajax({
                        url: proxyPath + "storages/" + row['storage_id'].Int64 + "/a",
                        method: "DELETE",
                    }).done(function(data, textStatus, jqXHR) {
                        global.displayMessage("storage trashed", "success");
                        var $table = $('#table');
                        $table.bootstrapTable('refresh');
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        handleHTTPError(jqXHR.statusText, jqXHR.status)
                    });
                }).on( "canceled.bs.confirmation", function() {
                });
            },
            'click .delete': function (e, value, row, index) {
                // hiding possible previous confirmation button
                $(this).confirmation("show").off( "confirmed.bs.confirmation");
                $(this).confirmation("show").off( "canceled.bs.confirmation");
                
                // ask for confirmation and then delete
                $(this).confirmation("show").on( "confirmed.bs.confirmation", function() {
                    $.ajax({
                        url: proxyPath + "storages/" + row['storage_id'].Int64,
                        method: "DELETE",
                    }).done(function(data, textStatus, jqXHR) {
                        global.displayMessage("storage deleted", "success");
                        var $table = $('#table');
                        $table.bootstrapTable('refresh');
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        handleHTTPError(jqXHR.statusText, jqXHR.status)
                    });
                }).on( "canceled.bs.confirmation", function() {
                });
            }
        };
| {{end}}
