include mixins
html
    head
        include head

        link(href=c.ProxyPath + "css/animate.min.css",  rel="stylesheet" )
        link(href=c.ProxyPath + "css/bootstrap-colorpicker.min.css",  rel="stylesheet" )
        link(href=c.ProxyPath + "css/bootstrap-table.min.css",  rel="stylesheet" )
        link(href=c.ProxyPath + "css/bootstrap-toggle.min.css",  rel="stylesheet" )
        link(href=c.ProxyPath + "css/bootstrap.min.css",  rel="stylesheet" )
        link(href=c.ProxyPath + "css/chimitheque.css",  rel="stylesheet" )
        link(href=c.ProxyPath + "css/fontawesome.all.min.css",  rel="stylesheet" )
        link(href=c.ProxyPath + "css/materialdesignicons.min.css",  rel="stylesheet" )
        link(href=c.ProxyPath + "css/select2.min.css",  rel="stylesheet" )
        link(href=c.ProxyPath + "css/trumbowyg.min.css",  rel="stylesheet" )
        link(href=c.ProxyPath + "css/trumbowyg.colors.min.css",  rel="stylesheet" )
        
        link(rel="shortcut icon" href=c.ProxyPath + "img/favicon.ico" type="image/x-icon")
        link(rel="icon" href=c.ProxyPath + "img/favicon.ico" type="image/x-icon")

        script(src=c.ProxyPath + "js/jquery-3.4.1.min.js")
    body
        div#message
        div.container
            include header
            
            nav.navbar.navbar-expand-lg.navbar-light.border-bottom
                a.navbar-brand(href=c.ProxyPath + "v/products")
                    img(src=c.ProxyPath + "img/logo_chimitheque_small.png", alt="chimitheque_logo", title="Chimithèque")
                button.navbar-toggler(
                                    type="button"
                                    data-toggle="collapse" 
                                    data-target="#navbarSupportedContent" 
                                    aria-controls="navbarSupportedContent" 
                                    aria-expanded="false" 
                                    aria-label="Toggle navigation")
                    span.navbar-toggler-icon

                div.collapse.navbar-collapse#navbarSupportedContent
                    ul.navbar-nav.mr-auto
                        li.nav-item#menu_list_bookmarks.collapse
                            a(href=c.ProxyPath + "v/products?bookmark=true").nav-link
                                span.mdi.mdi-bookmark.mdi-36px.iconlabel
                                    = T("menu_bookmark", 1) 

                        li.nav-item#menu_create_product.collapse
                            a(href=c.ProxyPath + "vc/products").nav-link
                                span.mdi.mdi-tag.mdi-36px.iconlabel
                                    = T("menu_create_productcard", 1)
                        li.nav-item.dropdown#menu_entities.collapse
                            a(href="#", title="manage entities").nav-link.dropdown-toggle#navbarDropdown(
                                role="button" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" 
                                aria-expanded="false")
                                span.mdi.mdi-store.mdi-36px.iconlabel
                                    = T("menu_entity", 1)
                            div.dropdown-menu(aria-labelledby="navbarDropdown")
                                a(href=c.ProxyPath + "v/entities", title="list").dropdown-item
                                    = T("list", 1)
                                    a#menu_create_entity.collapse(href=c.ProxyPath + "vc/entities", title="create").dropdown-item
                                        = T("create", 1)

                        li.nav-item.dropdown#menu_storelocations.collapse
                            a(href="#", title="manage storelocations").nav-link.dropdown-toggle#navbarDropdown(
                                role="button" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" 
                                aria-expanded="false")
                                span.mdi.mdi-docker.mdi-36px.iconlabel
                                    = T("menu_storelocation", 1)
                            div.dropdown-menu(aria-labelledby="navbarDropdown")
                                a(href=c.ProxyPath + "v/storelocations", title="list").dropdown-item
                                    = T("list", 1)
                                    a#menu_create_storelocation.collapse(href=c.ProxyPath + "vc/storelocations", title="create").dropdown-item
                                        = T("create", 1)

                        li.nav-item.dropdown#menu_people.collapse
                            a(href="#", title="manage people").nav-link.dropdown-toggle#navbarDropdown(
                                role="button" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" 
                                aria-expanded="false")
                                span.mdi.mdi-account-group.mdi-36px.iconlabel
                                    = T("menu_people", 1)
                            div.dropdown-menu(aria-labelledby="navbarDropdown")
                                a(href=c.ProxyPath + "v/people", title="list").dropdown-item
                                    = T("list", 1)
                                    a#menu_create_person.collapse(href=c.ProxyPath + "vc/people", title="create").dropdown-item
                                        = T("create", 1)

                        li.nav-item#menu_update_welcomeannounce.collapse
                            a(href=c.ProxyPath + "v/welcomeannounce").nav-link
                                span.mdi.mdi-information-outline.mdi-36px.iconlabel
                                    = T("menu_welcomeannounce", 1) 

                        li.nav-item
                            a.nav-link(title= "change password" href=c.ProxyPath + "vu/peoplepass")
                                span.mdi.mdi-shield-lock-outline.mdi-36px.iconlabel
                                        = T("menu_password", 1)
                                
                        li.nav-item
                            a.nav-link(title= "logout" onclick="localStorage.clear();" href=c.ProxyPath+"delete-token")
                                span.mdi.mdi-logout.mdi-36px.iconlabel
                                        = T("menu_logout", 1 )

            block CONTENT
            include footer

        include foot
        include localejs
        
        -
            json, _ := json.Marshal(c)

            var out string
            for key, value := range c.URLValues {
	            out += fmt.Sprintf("URLValues.set(%s, %s)\n", key, value)
            }
            
        script.
            //
            // common javascript
            //

            // query parameters saved - used for the storages<>products views switch
            var lastQueryParams;

            // proxy path
            var proxyPath = "!{ c.ProxyPath }";
            
            // version
            var buildID = "!{ c.BuildID }";

            // request context
            var container = !{fmt.Sprintf("%s", json)};

            // url parameters
            var URLValues = new Map();

            // initializing query parameters map
            !{out}
           
            window.onload = function() {
                // cookie set by the GetTokenHandler() function after login
                var email = readCookie("email")
                var urlParams = new URLSearchParams(window.location.search);
                var message = urlParams.get("message");
                
                // displaying logged user
                if (email != null) {
                    document.getElementById("logged").innerHTML = email;
                }
                if (message != null) {
                    global.displayMessage(message, "success");
                }

                // displaying version
                document.getElementById("appversion").innerHTML = buildID;

                // showing menu items given the connected person permissions
                hasPermission("products", "-2", "GET").done(function(){
                    $("#menu_list_products").show();
                    $("#menu_list_bookmarks").show();
                    localStorage.setItem("products:-2:GET", true);
                }).fail(function(){
                    localStorage.setItem("products:-2:GET", false);
                })
                hasPermission("products", "", "POST").done(function(){
                    $("#menu_create_product").show();
                    localStorage.setItem("products::POST", true);
                }).fail(function(){
                    localStorage.setItem("products::POST", false);
                })
                hasPermission("entities", "-2", "GET").done(function(){
                    $("#menu_entities").show();
                    localStorage.setItem("entities:-2:GET", true);
                }).fail(function(){
                    localStorage.setItem("entities:-2:GET", false);
                })
                hasPermission("entities", "", "POST").done(function(){
                    $("#menu_create_entity").show();
                    localStorage.setItem("entities::POST", true);
                }).fail(function(){
                    localStorage.setItem("entities::POST", false);
                })
                hasPermission("entities", "-1", "PUT").done(function(){
                    $("#menu_update_welcomeannounce").show();
                    localStorage.setItem("entities::POST", true);
                }).fail(function(){
                    localStorage.setItem("entities::POST", false);
                })
                hasPermission("storages", "-2", "GET").done(function(){
                    $("#menu_storelocations").show();
                    localStorage.setItem("storages:-2:GET", true);
                }).fail(function(){
                    localStorage.setItem("storages:-2:GET", false);
                })
                hasPermission("storages", "", "POST").done(function(){
                    $("#menu_create_storelocation").show();
                    localStorage.setItem("storages::POST", true);
                }).fail(function(){
                    localStorage.setItem("storages::POST", false);
                })
                hasPermission("people", "-2", "GET").done(function(){
                    $("#menu_people").show();
                    localStorage.setItem("people:-2:GET", true);
                }).fail(function(){
                    localStorage.setItem("people:-2:GET", false);
                })
                hasPermission("people", "", "POST").done(function(){
                    $("#menu_create_person").show();
                    localStorage.setItem("people::POST", true);
                }).fail(function(){
                    localStorage.setItem("people::POST", false);
                })
            };

            // call the "fake" (/f/) endpoints to check
            // the permission on the given item and
            // stores the result in the cache
            function hasPermission(item, id, method) {
                // promise to be returned
                var permpromise = $.Deferred();

                // building the cache key
                key = item + ":" + id + ":" + method

                // getting the permission cache
                permcache = localStorage.getItem(key);

                if (permcache) {
                    if (permcache == "true") {
                        permpromise.resolve();
                    } else {
                        permpromise.reject();
                    }
                } else {
                    // building ajax url
                    if (id != "") {
                        url = proxyPath + "f/" + item + "/" + id;
                    } else {
                        url = proxyPath + "f/" + item;
                    }

                    permpromise = $.ajax({
                        url: url,
                        method: method,
                    });
                }
                return permpromise;
            }
           
        script(src=c.ProxyPath + "js/jquery.formautofill.min.js" )
        script(src=c.ProxyPath + "js/jquery.validate.min.js" )
        script(src=c.ProxyPath + "js/jquery.validate.additional-methods.min.js" )
        script(src=c.ProxyPath + "js/select2.full.min.js" )
        script(src=c.ProxyPath + "js/popper.min.js" )
        script(src=c.ProxyPath + "js/popper-utils.min.js" )
        script(src=c.ProxyPath + "js/bootstrap.min.js" )
        script(src=c.ProxyPath + "js/bootstrap-table.min.js" )
        script(src=c.ProxyPath + "js/bootstrap-confirmation.min.js" )
        script(src=c.ProxyPath + "js/bootstrap-colorpicker.min.js" )
        script(src=c.ProxyPath + "js/bootstrap-toggle.min.js" )
        script(src=c.ProxyPath + "js/JSmol.lite.nojq.js" )
        script(src=c.ProxyPath + "js/trumbowyg.min.js" )
        script(src=c.ProxyPath + "js/trumbowyg.colors.min.js" )
        script(src=c.ProxyPath + "js/chim/gjs-common.js" )
        script(src=c.ProxyPath + "js/chim/chimcommon.js" )
        script(src=c.ProxyPath + "js/chim/bootstraptable-common.js" )
        script(src=c.ProxyPath + "js/chim/login.js" )
        
        script.
            // change trumbowyg icons path
            $.trumbowyg.svgPath = '/img/trumbowyg_icons.svg';

        block CONTENTJS
