| {{define "BASE"}}
| {{template "MIXINS"}}
html
    head
        | {{template "HEAD"}}

        | <link href="{{.ProxyPath}}css/bootstrap.min.css" rel="stylesheet"/>
        | <link href="{{.ProxyPath}}css/bootstrap-table.min.css" rel="stylesheet"/>
        | <link href="{{.ProxyPath}}css/select2.min.css" rel="stylesheet"/>
        | <link href="{{.ProxyPath}}css/bootstrap-colorpicker.min.css" rel="stylesheet"/>
        | <link href="{{.ProxyPath}}css/fontawesome.all.min.css" rel="stylesheet"/>
        | <link href="{{.ProxyPath}}css/chimitheque.css" rel="stylesheet"/>
        
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="//cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css" rel="stylesheet")
        link(href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet")

    body
        div#message
        div.container
            | {{template "HEADER"}}
            header.row.justify-content-left
                div.col-sm-12
                    img(src="{{.ProxyPath}}img/logo_chimitheque.png", alt="chimitheque_logo")

            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                button.navbar-toggler(
                                    type="button"
                                    data-toggle="collapse" 
                                    data-target="#navbarSupportedContent" 
                                    aria-controls="navbarSupportedContent" 
                                    aria-expanded="false" 
                                    aria-label="Toggle navigation")
                    span.navbar-toggler-icon

                div.collapse.navbar-collapse#navbarSupportedContent
                    ul.navbar-nav.mr-auto
                        if HasPermission .PersonID "r" "products" -2
                            li.nav-item.active
                                a(href="{{.ProxyPath}}v/products" title="home").nav-link
                                    i.material-icons home
                        if HasPermission .PersonID "r" "products" -2
                            li.nav-item.active
                                a(href="{{.ProxyPath}}v/products?bookmark=true" title="my bookmarked products").nav-link
                                    i.material-icons star

                        if HasPermission .PersonID "w" "products" -2
                            li.nav-item
                                a(href="{{.ProxyPath}}vc/products" title="create product card").nav-link
                                    i.material-icons local_offer
                        if HasPermission .PersonID "r" "entities" -2
                            li.nav-item.dropdown
                                a(href="#", title="manage entities").nav-link.dropdown-toggle#navbarDropdown(
                                    role="button" 
                                    data-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false")
                                    i.material-icons store
                                div.dropdown-menu(aria-labelledby="navbarDropdown")
                                    a(href="{{.ProxyPath}}v/entities", title="list").dropdown-item list
                                    if HasPermission .PersonID "all" "all" -1
                                        a(href="{{.ProxyPath}}vc/entities", title="create").dropdown-item create

                        if HasPermission .PersonID "r" "storelocations" -2
                            li.nav-item.dropdown
                                a(href="#", title="manage storelocations").nav-link.dropdown-toggle#navbarDropdown(
                                    role="button" 
                                    data-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false")
                                    i.material-icons extension
                                div.dropdown-menu(aria-labelledby="navbarDropdown")
                                    a(href="{{.ProxyPath}}v/storelocations", title="list").dropdown-item list
                                    if HasPermission .PersonID "all" "all" -2
                                        a(href="{{.ProxyPath}}vc/storelocations", title="create").dropdown-item create

                        if HasPermission .PersonID "r" "people" -2
                            li.nav-item.dropdown
                                a(href="#", title="manage people").nav-link.dropdown-toggle#navbarDropdown(
                                    role="button" 
                                    data-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false")
                                    i.material-icons supervisor_account
                                div.dropdown-menu(aria-labelledby="navbarDropdown")
                                    a(href="{{.ProxyPath}}v/people", title="list").dropdown-item list
                                    if HasPermission .PersonID "w" "people" -2
                                        a(href="{{.ProxyPath}}vc/people", title="create").dropdown-item create

                        li.nav-item
                            a.nav-link.disabled(href="#")
                                span#logged

            | {{template "CONTENT"}}
            | {{template "FOOTER"}}

        | {{template "FOOT"}}

        script.
            //
            // common javascript
            //

            // query parameters saved - used for the storages<>products views switch
            var lastQueryParams;

            // proxy path
            var proxyPath = {{ .ProxyPath }};

            // logged user email and permissions
            var container = {{ . }};

            // url parameters
            var URLValues = new Map();

            // initializing query parameters map
            {{ range $key, $value := .URLValues }}
                URLValues.set({{ $key }}, {{ $value }});
            {{ end }}

            // setting up logged user
            window.onload = function() {
                email = readCookie("email")
                document.getElementById("logged").innerHTML = email;
           };
           
        | <script src="{{.ProxyPath}}js/jquery-3.3.1.min.js"></script>
        | <script src="{{.ProxyPath}}js/jquery.formautofill.min.js"></script>
        | <script src="{{.ProxyPath}}js/jquery.validate.min.js"></script>
        | <script src="{{.ProxyPath}}js/jquery.validate.additional-methods.min.js"></script>
        | <script src="{{.ProxyPath}}js/select2.full.min.js"></script>
        | <script src="{{.ProxyPath}}js/popper.min.js"></script>
        | <script src="{{.ProxyPath}}js/bootstrap.min.js"></script>
        | <script src="{{.ProxyPath}}js/bootstrap-table.min.js"></script>
        | <script src="{{.ProxyPath}}js/bootstrap-confirmation.min.js"></script>
        | <script src="{{.ProxyPath}}js/bootstrap-colorpicker.min.js"></script>
        | <script src="{{.ProxyPath}}js/gjs-common.js"></script>
        | <script src="{{.ProxyPath}}js/chimcommon.js"></script>
        | <script src="{{.ProxyPath}}js/chimauth.js"></script>
        
        script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")

        | {{template "CONTENTJS"}}
| {{end}}