nav.navbar.navbar-expand-lg.navbar-light.bg-light
    button.navbar-toggler(
                        type="button"
                        data-toggle="collapse" 
                        data-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation")
        span.navbar-toggler-icon

    div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a(href="/").nav-link home
            li.nav-item
                a(href="/login").nav-link login

            if HasPermission .PersonID "r" "entities" -2
                li.nav-item.dropdown
                    a(href="#", title="entities").nav-link.dropdown-toggle#navbarDropdown(
                        role="button" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false") entity
                    div.dropdown-menu(aria-labelledby="navbarDropdown")
                        a(href="/v/entities", title="list").dropdown-item list
                        if HasPermission .PersonID "w" "entity" -1
                            a(href="/vc/entities", title="create").dropdown-item create

            if HasPermission .PersonID "r" "people" -2
                li.nav-item.dropdown
                    a(href="#", title="people").nav-link.dropdown-toggle#navbarDropdown(
                        role="button" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false") person
                    div.dropdown-menu(aria-labelledby="navbarDropdown")
                        a(href="/v/people", title="list").dropdown-item list
                        if HasPermission .PersonID "w" "person" -1
                            a(href="/vc/people", title="create").dropdown-item create

            li.nav-item
                a.nav-link.disabled(href="#")
                    span#logged

    