:go:func
    Menu(c ViewContainer)

nav.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand(href="#", title="product list", onclick="$('#advancedsearch').collapse('hide'); Menu_loadContent('product', '" + c.AppURL + c.AppPath + "v/products', 'Product_list')")
        img(src=c.AppURL + c.AppPath + "static/img/logo_chimitheque_simple.svg", width="50px" alt="chimitheque_logo", title="Chimithèque")
    button.navbar-toggler(
                        type="button"
                        data-toggle="collapse" 
                        data-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation")
        span.navbar-toggler-icon

    div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item#menu_list_bookmarks.collapse
                a(href="#", onclick="Product_listBookmark()").nav-link
                    span.mdi.mdi-bookmark.mdi-36px.iconlabel
                        = T("menu_bookmark", 1) 
            li.nav-item#menu_scan_qrcode.collapse
                a(onclick="scanQR();").nav-link
                    span.mdi.mdi-qrcode-scan.mdi-36px.iconlabel
                        = T("menu_scanqr", 1) 
            li.nav-item#menu_create_product.collapse
                a(href="#", onclick="Menu_loadContent('product', '" + c.AppURL + c.AppPath + "vc/products', 'Product_create')").nav-link
                    span.mdi.mdi-tag.mdi-36px.iconlabel
                        = T("menu_create_productcard", 1)
            li.nav-item#menu_pubchem.collapse
                a(href="#", onclick="Menu_loadContent('pubchem', '" + c.AppURL + c.AppPath + "vc/pubchem', 'Product_pubchem')").nav-link
                    span.mdi.mdi-alpha-c-circle-outline.mdi-36px.iconlabel
                        = T("menu_pubchem", 1)

            li.nav-item.dropdown#menu_management.collapse
                a(href="#").nav-link.dropdown-toggle#navbarDropdown(
                    role="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false")
                    span.mdi.mdi-domain.mdi-36px.iconlabel
                        = T("menu_management", 1)
                        
                div.dropdown-menu(aria-labelledby="navbarDropdown")
                    div#menu_entities.collapse
                        span.p-2.mdi.mdi-home-group.mdi-24px
                            = T("menu_entity", 1)
                        a(href="#", onclick="Menu_loadContent('entity', '" + c.AppURL + c.AppPath + "v/entities', 'Entity_list')").dropdown-item
                            span.iconlabel
                                = T("list", 1)
                        a#menu_create_entity.collapse(href="#", onclick="Menu_loadContent('entity', '" + c.AppURL + c.AppPath + "vc/entities', 'Entity_create')").dropdown-item
                            span.iconlabel
                                = T("create", 1)
                        hr.dropdown-divider
                    div#menu_storelocations.collapse
                        span.p-2.mdi.mdi-docker.mdi-24px
                            = T("menu_storelocation", 1)
                        a(href="#", onclick="Menu_loadContent('storelocation', '" + c.AppURL + c.AppPath + "v/storelocations', 'StoreLocation_list')").dropdown-item
                            span.iconlabel
                                = T("list", 1)
                        a#menu_create_storelocation.collapse(href="#", onclick="Menu_loadContent('storelocation', '" + c.AppURL + c.AppPath + "vc/storelocations', 'StoreLocation_create')").dropdown-item
                            span.iconlabel
                                = T("create", 1)
                        hr.dropdown-divider
                    div#menu_people.collapse
                        span.p-2.mdi.mdi-account-group.mdi-24px
                            = T("menu_people", 1)
                        a(href="#", onclick="Menu_loadContent('person', '" + c.AppURL + c.AppPath + "v/people', 'Person_list')").dropdown-item
                            span.iconlabel
                                = T("list", 1)
                        a#menu_create_person.collapse(href="#", onclick="Menu_loadContent('person', '" + c.AppURL + c.AppPath + "vc/people', 'Person_create')").dropdown-item
                            span.iconlabel
                                = T("create", 1)
                        hr.dropdown-divider
                    div#menu_settings.collapse
                        span.p-2.mdi.mdi-cog.mdi-24px
                            = T("menu_settings", 1)
                        a#menu_update_welcomeannounce.dropdown-item(href="#", onclick="Menu_loadContent('welcome', '" + c.AppURL + c.AppPath + "v/welcomeannounce', 'WelcomeAnnounce_list')")
                            span.iconlabel
                                = T("menu_welcomeannounce", 1)

            li.nav-item.dropdown#menu_account
                a(href="#").nav-link.dropdown-toggle#navbarDropdown(
                    role="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false")
                    span.mdi.mdi-account.mdi-36px.iconlabel
                        = T("menu_account", 1)
                div.dropdown-menu(aria-labelledby="navbarDropdown")
                    a.dropdown-item(href="#", onclick="localStorage.clear(); document.cookie='token=; expires=Thu, 01 Jan 1970 00:00:00 UTC;'; window.location.replace('" + c.AppURL + c.AppPath + "delete-token')")
                        span.mdi.mdi-logout.mdi-24px.iconlabel
                            = T("menu_logout", 1 )
                    a.dropdown-item(href="#", onclick="Menu_loadContent('about', '" + c.AppURL + c.AppPath + "about', 'About_list')")
                        span.mdi.mdi-information.mdi-24px.iconlabel
                            = T("menu_about", 1 )