mixin inputtext(name, label="", htmltype="text", placeholder="", help="", required=false)
    //- var inputId = name + 'input';
    //- var helpId = name + 'help';
    .form-group
        if required 
            span.badge.badge-pill.badge-danger.collapse.show(id=name)  &nbsp;
        if label != ""
            label(for=name)
                = T(label, 1)
        if htmltype == "textarea"
            textarea.form-control(type='text' id=name name=name aria-describedby=name + 'help' title=name placeholder=placeholder)
        else
            input.form-control(type=htmltype id=name name=name aria-describedby=name + 'help' title=name placeholder=placeholder)
        if help != ""
            small.form-text.text-muted(id=name + 'help')
                = help

mixin inputselect(name, label="", ismultiple=false, placeholder="", help="", required=false)
    .form-group
        if required 
            span.badge.badge-pill.badge-danger.collapse.show(id=name)  &nbsp;
        if label != ""
            label(for=name + 'input')
                = T(label, 1)
        if ismultiple
            select.form-control(multiple='multiple' style='width: 100% !important;' id=name name=name aria-describedby=name + 'help' title=name placeholder=placeholder)
        else
            select.form-control(style='width: 100% !important;' id=name name=name aria-describedby=name + 'help' title=name placeholder=placeholder)
        if help != ""
            small.form-text.text-muted(id=name + 'help')
                = help

mixin inputnumber(name, label, step, min, max, value="", help="")
    label(for=name)
        = T(label, 1)
    input.form-control(type='number' id=name name=name title=name step=step min=min max=max value=value)
    if help != ""
        small.form-text.text-muted(id=name + 'help')
            = help

mixin checkbox(name, label="", icon="", help="")
    .form-group.form-check
        input.form-check-input(type='checkbox' class="form-check-input" id=name)
        if label != ""
            label.form-check-label(for=name)
                = T(label, 1)
        if icon != ""
            label.form-check-label(for=name)
                span(class='mdi mdi-36px ' + icon title=T(label, 1))
        if help != ""
            small.form-text.text-muted(id=name + 'help')
                = help

mixin title(label)
    .card.bg-dark.text-center.w-25.mx-auto.mt-md-5.mb-md-5
        .card-body
            h5.card-title.text-light
                = T(label, 1)

mixin titleicon(iconitem, label)
    .row.mt-sm-2.mb-sm-2
        .col.d-flex.justify-content-center
            span(class='iconlabel mdi-'+ iconitem +' mdi mdi-36px')&nbsp;
                = T(label, 1)

mixin inputfile(label,name)
    label(for=name)
        = T(label, 1)
    input.form-control(type='file' id=name name=name title=name)

mixin inputhidden(name, value)
    input(id='hidden_'+ name type='hidden' name=name value=value)